<div class="container"> 
	<div class="row-fluid">
	
  		<div class="span4 well">
  				 
  				<ul class="nav nav-list">
  					<li class="nav-header">
  						Roles
  					</li>
  					<li ng-repeat="role in roles" ng-class="{active : role.authority == currentrole.authority}">
  						<a ng-click="setCurrentRole(role)"> {{role.authority}} </a>
  					</li>
  					<li class="divider"></li>
  					<li>
  						<a> <i class="fa fa-plus"></i>  Add a new Role </a>
  					</li>
  				</ul>				
  			
  		</div>	
  			
  		<div class="span4 well" ng-if="currentrole">
  			<ul class="nav nav-list">
  				<li class="nav-header">
  					Permissions for {{currentrole.authority}}
  				</li>
  				<li ng-repeat="perm in permissions" ng-class="{active:currentpermission == perm.permission}">
  					{{perm.permission}}
  					<span class="pull-right"><a ng-click="deletePermissionModal()"> <i class="fa fa-minus"></i> </a></span>
  				</li>
  				<li class="divider"></li>
  				<li>
  					<a ng-click="addPermissionModal()"> <i class="fa fa-plus"></i>  Add Permissions </a>
  				</li>
  			</ul> 			  		
  		</div>  		  			    		
 	 </div>
</div>