<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" id="topHtml">
    <head th:include="html/template::head"></head>
    <body>
        <div th:include="html/template::navbar"></div>
        <ul class="breadcrumb" data-bind="with: routes">
            <!-- ko foreach : currentBreadcrumbs -->        
            <li>
                <a data-bind="attr : {href : path}, text : name"> </a> <span class="divider">/</span> 
            </li>        
            <!-- /ko -->
        </ul>

        <div th:include="html/template::group-sidebar" data-bind="if: $root.routes.isInventory"> </div>

        <!-- The Overall Groups view on the Inventory page -->
        <div data-bind="if: $root.routes.isInventory">
            <div data-bind="with: $root.computerGroups">
                <div class="span10">
                    <!-- ko foreach: $root.computerGroups.groups -->
                    <div class="span4 ui-widget-content" data-bind="attr: {id: linkId() }">
                        <div class="widget">
                            <div class="widget-header">
                                <i data-bind="css: folderIcon()"> </i>
                                <h3 data-bind="text: description"></h3>
                                <span class="machine-count label" data-bind="text: machines().length"></span>
                            </div>	
                        </div>	
                    </div>
                    <!-- /ko -->
                </div>
            </div> 
        </div>
        <!-- End groups view -->

        <!-- Group View -->
        <div data-bind="if: $root.routes.isGroup">
            <h3> Group... </h3>
        </div>
        <!-- End Overall Groups View -->

        <!-- Machine View -->
        <div data-bind="if: $root.routes.isMachine"> 
            <div data-bind="with:$root.comp.computer" class="span3 text-center">   
                <div class="row-fluid container">
                    <span class="icon-stack icon-4x">
                        <i class="icon-desktop icon-stack-base"> </i>
                        <i data-bind="css: currentOS()"> </i>                
                    </span>                
                </div>
                <div class="row-fluid container">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Cloning
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a href="" data-bind="click: $root.comp.preparePullClone"> <i class="icon-li icon-arrow-down"></i> Pull Down Image </a> </li>
                            <li> <a href="#" data-bind="" > <i class="icon-li icon-arrow-up"></i> Push Up Image </a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Power
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a href="" data-bind="click: $root.comp.prepareReboot"> <i class="icon-li icon-repeat"></i> Reboot </a> </li>
                            <li> <a href="#" data-bind="" > <i class="icon-li icon-off"></i> Shutdown </a></li>
                        </ul>
                    </div>
                </div>
            </div>       
            <div data-bind="with:$root.comp.computer" class="span10"> 
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td> <strong> Computer Name: </strong>  </td>
                            <td data-bind ="text: name"> </td> 
                        </tr>
                        <tr>
                            <td> <strong> UID: </strong> </td>
                            <td data-bind="text: uid"> </td>
                        </tr>
                        <tr>
                            <td> <strong> Serial Number: </strong> </td>
                            <td data-bind="text:serialNumber"> </td>
                        </tr>
                        <tr>
                            <td> <strong> Mac Address(es): </strong> </td>
                            <td data-bind="text:mac"> </td>                            
                        </tr>
                        <tr>
                            <td> <strong> IP Address: </strong> </td>
                            <td data-bind="text:ipAddress"> </td>
                        </tr>
                        <tr>
                            <td> <strong> OS: </strong> </td>
                            <td data-bind="text:os"></td>
                        </tr>
                        <tr>
                            <td> <strong> OS Version: </strong> </td>
                            <td data-bind="text:osVersion"> </td>
                        </tr>
                        <tr>
                            <td> <strong> Manufacturer: </strong> </td>
                            <td data-bind="text: manufacturer"> </td>
                        </tr>
                        <tr>
                            <td> <strong> Model: </strong> </td>
                            <td data-bind="text: model"> </td>
                        </tr>
                        <tr>
                            <td> <strong> Last Seen: </strong> </td>
                            <td data-bind="text: lastSeen"> </td>
                        </tr>
                        <tr>
                            <td> <strong> Current User: </strong> </td>
                            <td data-bind="text: currentUser"> </td>
                        </tr>                        
                    </tbody>                                        
                </table>   


                <!-- Modals -->

                <div id="compModal" class="modal hide fade" tabindex="-1" 
                     role="dialog" aria-labelledby="compModalLabel" aria-hidden="true" data-bind="with: $root.imageModel">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="compModalLabel">Cloning Options</h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert">                        
                            <strong>Warning!</strong> This will reboot the machine (even if a user is currently logged in) and attempt to clone it. Please proceed with caution
                        </div>
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="imageChoice">Image</label>
                                <div class="controls">
                                    <select data-bind="options:images,value: selectedImage, optionsCaption: 'Choose Image...'">                                        
                                    </select>                                    
                                </div>
                            </div>                                                       
                        </form> 
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary" data-bind="css: activeCss(),click:$root.startClone">Clone Me!</button>
                    </div>
                </div>

                <!-- reboot modal -->
                <div id="rebootChoiceModal" class="modal hide fade" tabindex="-1" 
                     role="dialog" aria-labelledby="rebootModalLabel" aria-hidden="true" data-bind="with: $root.comp">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="rebootModalLabel">Reboot Options</h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert">                        
                            <strong>Warning!</strong> This will reboot the machine even if a user is currently logged in. Please proceed with caution
                        </div>
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="imageChoice">Image</label>
                                <div class="controls">
                                    <select data-bind="options:osOptions,value:rebootOs,optionsText:'name',optionsValue:'name',optionsCaption:'Choose an OS...'">                                        
                                    </select>                                    
                                </div>
                            </div>                                                       
                        </form> 
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary" data-bind="css: activeCss(),click:reboot">Reboot!</button>
                    </div>
                </div>
                <!-- /reboot modal -->

                <!-- reboot (no options) modal -->
                <div id="rebootNoChoiceModal" class="modal hide fade" tabindex="-1" 
                     role="dialog" aria-labelledby="rebootModalLabel" aria-hidden="true" data-bind="with: $root.comp">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="rebootModalLabel">Reboot Options</h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert">                        
                            <strong>Warning!</strong> This will reboot the machine even if a user is currently logged in. Please proceed with caution
                        </div>                         
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary" data-bind="click:reboot">Reboot!</button>
                    </div>
                </div>
                <!-- /reboot (no options) modal -->


                <!-- /Modals -->

            </div>



        </div>
        <!-- End Machine View -->

        <!-- Active Tasks Pane -->
        <div class="row-fluid" id="activeTasks" data-bind="visible: $root.taskModel.tasks().length > 0"> 
            <table class="table table-striped"> 
                <thead>
                    <tr> 
                        <td> Task </td>
                        <td> Description </td>
                        <td> Status </td>
                        <td> Progress </td>
                        <td> </td>                    
                    </tr>
                </thead>
                <tbody data-bind="foreach: $root.taskModel.tasks">
                    <tr>
                        <td data-bind="text:name"></td>
                        <td data-bind="text:description"></td>
                        <td data-bind="text:status"></td>
                        <td data-bind="text: completionPercentage"></td>
                        <td> <button class="btn"> Clear </button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- End Active Tasks Pane -->


        <form>
            <input type="hidden" id="show-all-tasks" value="/heartbeat/show/machines" th:value="@{/show/machines}" />
            <input type="hidden" id="base-url" th:value="@{/}" />
            <input type="hidden" id="show-groups" value="/heartbeat/show/groups" th:value="@{/show/groups}" />
        </form>
    </body>
</html>
