<div class="modal-header">
	<h3>Add Permission to {{role.authority}}</h3>
</div>
<div class="modal-body">	
	<p> 
		Choose one or more Permissions to add to {{role.authority}}.
		<form name="form" class="css-form">
		<select size=10 multiple ng-multiple="true" ng-model="selectedPermissions" ng-options="perm.permission for perm in allPerms" />
	</form>
	</p>
	
	
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="form.$invalid"
		ng-click="ok(selectedPermissions)">Ok</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>