<div class="container"> 
	<div class="row-fluid">
  		<div class="widget">
  			<div class="widget-header">  		  		
  				<i class="icon-ok" style="color:green"></i>		
  				<h3> Roles </h3>	  				
  				<form class="form-search" style="display:inline">  					
    				<input type="text" class="search-query" ng-model="searchRoles" id='searchRoles' placeholder="Search">    					  					  				
				</form>		
				<button class="btn pull-right" ng-click="openAddUserModal()" ><i class="icon-plus"></i> Add User </button>					
  			</div>
  			<div class="widget-content">
  				  				
  			</div>  			
  		</div>
 	 </div>
</div>