<nav id="group-sidebar" class="span3"> 

	 <div class="form-group">
        <input type="text" class="form-search" style="height:2%" ng-model="search" id='search' placeholder="Search">
      </div>
    <h4 class="dashboard" style="height:2%">
        <a href="#"> <i class="fa fa-home"></i> Groups </a>                 
    </h4> 
    <div id="groups-overflow" >
        <ul class="groups" ng-model="chosenGroup">
            <li class="closed" ui-route='/groups/all/:view' ng-class="{active:$state.params.id == 'all'}" >
                <span class='toggle'><i class='fa fa-caret-right'></i></span>
                <h4 class="groupName">
                    <a href="#/groups/all/table"> All </a>
                </h4>
                <span class='loader'>Loading</span>
                <div class="options dropdown">
                    <a dropdown-toggle> <i class="fa fa-filter"></i> </a>
                    <ul class="dropdown-menu groups-dropdown-menu">
                        <li ng-repeat="choice in optionsItems">
                            <a> {{choice.display}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="closed" ng-repeat="group in groups" ng-class="{active:$state.params.id == group.groupId}">
                <span class="toggle"><i class="fa fa-caret-right"></i></span>
                <h4 class="groupName"> 
                    <a href="#/groups/{{group.groupId}}/table" ng-model="group.name"> {{group.name}} </a> 
                </h4> 
                <span class='loader'>Loading</span>
                <div class="options dropdown">
                    <a dropdown-toggle> <i class="fa fa-filter"></i> </a>
                    <ul class="dropdown-menu groups-dropdown-menu">
                        <li ng-repeat="choice in optionsItems">
                            <a>{{choice.display}}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="grp-controls container">
        <ul class="inline"> 
            <li> <a popover-placement="right" popover="Add a new Group" popover-trigger="mouseenter" ng-click='openNewGroupDialog()'> <i class='fa fa-plus'></i> </a> </li>
            <li> <a popover-placement="right" popover="Edit selected Group" popover-trigger="mouseenter" ng-click='openEditGroupDialog()'><i class="fa fa-edit"></i></a> </li>
            <li> <a popover-placement="right" popover="Remove selected Group" popover-trigger="mouseenter" ><i class="fa fa-ban text-danger"></i> </a></li>
        </ul>
    </div>
</nav>

<div id="ui-view-main">
    <div class="row-fluid">
        <header>
            <div class="pull-left">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks"></i> Actions
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-class="{disabled: !isMachineSelected()}">
                            <a ng-click="openMoveDialog(machineSelected)" ><i class="fa fa-move"></i>Move</a>
                        </li>                   
                        <li ng-class="{disabled: !isMachineSelected()}">
                            <a ><i class="fa fa-fixed-width fa-power-off"></i>Power</a>
                        </li>
                        <li ng-class="{disabled: !isMachineSelected()}">
                            <a ng-click="deleteSelected(machineSelected)"><i class="fa fa-trash-o"></i>Delete</a>  
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pull-right">
                <ul class="nav nav-pills">
                    <li ui-route="/groups/{{currentGroup}}/table" ng-class="{active:$uiRoute}"><a href="#/groups/{{currentGroup}}/table"> <i class="fa fa-list"></i> Table View</a></li>
                    <li ui-route="/groups/{{currentGroup}}/grid" ng-class="{active:$uiRoute}"> <a href="#/groups/{{currentGroup}}/grid"><i class="fa fa-th"></i> Grid View</a></li>                
                </ul>
            </div>
        </header>
    </div>

    <div id="main-content-right" class="row-fluid" style="top: 59px;">
        <div ui-view class=""></div>
    </div>

</div>

<script type="text/ng-template" id="moveModal.html">
    <div class="modal-header">
    <h3>Move Computers</h3>
    </div>
    <div class="modal-body">
    <p> Where would you like to move the computer(s) too? </p>
    <form class="form-horizontal css-form"> 
    <div class="control-group">
    <label class="control-label" for="groupSelect">All Groups: </label>
    <div class="controls">
    <select ng-model="obj.to" ng-options="g.name for g in obj.all"></select>
    </div>
    </div>        
    </form>      
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="addGroupModal.html">
    <div class="modal-header">
    <h3>Add a Group</h3>
    </div>
    <div class="modal-body">    
    <form name="addGroupForm" class="form-horizontal css-form" novalidate> 
    <div class="control-group">
    <label class="control-label" for="groupName">Group Name: </label>
    <div class="controls">
    <input type="text" ng-model="group.name" id="groupName" required min=1/>  
    </div>            
    </div>
    <div class="control-group">
    <label class="control-label" for="groupDesc">Group Description: </label>
    <div class="controls">
    <input type="text" ng-model="group.description" id="groupDesc" required min=1 >
    </div>            
    </div>
    </form>   
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="addGroupForm.$invalid" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="editGroupModal.html">
    <div class="modal-header">
    <h3>Edit Group {{group.name}} </h3>
    </div>
    <div class="modal-body">    
    <form name="editGroupForm" class="form-horizontal css-form" novalidate> 
    <div class="control-group">
    <label class="control-label" for="groupName">Group Name: </label>
    <div class="controls">
    <input type="text" ng-model="group.name" id="groupName" required min=1/>  
    </div>            
    </div>
    <div class="control-group">
    <label class="control-label" for="groupDesc">Group Description: </label>
    <div class="controls">
    <input type="text" ng-model="group.description" id="groupDesc" required min=1 >
    </div>            
    </div>
    </form>   
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="editGroupForm.$invalid" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>    