<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="template::head"></head>
    <body>
        <div th:include="template::navbar"></div>




        <table class="table table-striped">
           <!-- <thead>
                <tr>
                    <td> Uid </td>
                    <td> Name </td>
                    <td> User </td>
                    <td> Group </td>
                    <td> Last Seen </td>
                </tr>
            </thead>


            <tbody data-bind="foreach: machines, visible: machines().length > 0">
                <tr>
                    <td>
                        <div class="computer">
                            <i class="icon-desktop icon-4x"></i> <br />
                            <span data-bind="text: name"></span>
                        </div>

                    </td>
                </tr>
            </tbody>
            -->
        </table>

        <div data-bind="foreach: machines, visible: machines().length > 0">
            <div class="computer">
                <i class="icon-desktop icon-4x" data-bind="css: isLoggedIn()"></i> <br />
                <span data-bind="text: name"></span>
            </div>
        </div>

    <form>
        <input type="hidden" id="show-all-tasks" value="/heartbeat/show/all" th:value="@{/show/all}" />
        <input type="hidden" id="show-groups" value="/heartbeat/show/groups" th:value="@{/show/groups}" />
    </form>

    </body>
</html>