<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8" />
        <title data-bind="text: $root.pageTitle">Generic Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="Matt Silbernagel" />
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" />
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/resources/css/jquery-ui.css}" />
        <link href="/heartbeat/resources/css/heartbeat.css" rel="stylesheet" th:href="@{/resources/css/heartbeat.css}" />        
        <script data-main="../resources/js/heartbeatConfig" 
                th:attr="data-main=@{/resources/js/heartbeatConfig}" src="/heartbeat/resources/js/lib/require.js" 
        th:src="@{/resources/js/lib/require.js}"></script>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->                       
    </head>

    <body>
        <div th:fragment="navbar">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner" data-bind="with:routes">
                    <a class="brand" href="" th:href="@{/}">Heartbeat</a>
                    <ul class="nav" data-bind="foreach: navigation">
                        <li data-bind="css: { active:name == $parent.currentActiveNav() },click: $parent.goToNav">
                            <a>
                                <i data-bind="css: icon"></i>
                                <span data-bind="text:name"> Home </span>
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-search pull-right" id="search-form">
                        <input type="text" class="search-query" placeholder="Search" />
                    </form>
                </div>
            </div>
        </div>	

        <div th:fragment="group-sidebar">            
            <div id="group-sidebar" data-bind="with:$root.computerGroups" class="span3 well">
                <ul class="nav nav-list">
                    <li class="nav-header"> Groups </li>                    
                    <!-- ko foreach: groups -->
                    <li style="clear:both"> 	
                        <a href="#" style="float:left" data-bind="click: $parent.toggleGroup">
                            <i class="icon-fixed-width"	data-bind="css: currentClass()"></i>
                        </a>
                        <a>
                            <span class="group-name-sidebar" data-bind="text:description"></span>
                            <span class="machine-count label" data-bind="text: machines().length"> </span>
                        </a> 	
                    </li>
                    <ul class="nav nav-list" id="machine-list" data-bind="foreach: machines,css: hiddenClass()">
                        <li class='ui-widget-content' data-bind="attr: {id: sidebarId()}">                                
                            <a href="#" data-bind="attr:{id: machineLinkId()}" >
                                <i class="icon-circle" data-bind="css: isLoggedIn()"> </i>
                                <span data-bind="text:name,click:showComputer"> </span>                                                                             
                            </a>                                                                             
                        </li>
                    </ul>
                    <!-- /ko -->
                    <li class="divider"> </li>
                    <li> 
                        <span class="group-name-sidebar"> Total Machines </span>
                        <span class="machine-count label" data-bind="text: $root.computerGroups.totalMachines"> </span>
                    </li>		 
                </ul>
            </div>	            
        </div>

    </body>
</html>
